.App {
  text-align: center;
  flex:1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

#root {
  display: flex;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.no-events {
  pointer-events: none;
}

.active-events {
  pointer-events: fill;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
  display:none;
  position: relative;
}

.visible {
  display: block;
  z-index: 101;
  position: relative;
}

.shrink {
  width: 16px;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid;
  font-size: 0px;
  cursor: pointer;
  margin: 5px;
  padding: 0px 0px;
  transform: translate(0%, 0%);
  z-index: 0;
  transition: width 0.5s, height 0.5s, border-radius 0.5s, background-color 0.5s, font-size 0.5s, padding 0.5s, border-color 0.5s;
}

.shrink-channels {
  width: 16px;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid;
  font-size: 0px;
  cursor: pointer;
  margin: 5px;
  padding: 0px 0px;
  transform: translate(0%, 0%);
  z-index: 0;
  transition: width 0.5s, height 0.5s, border-radius 0.5s, background-color 0.5s, font-size 0.5s, padding 0.5s, border-color 0.5s;
}

.expand-channels {
  position: fixed;
  width: 500px; /* Set to your desired expanded width */
  height: 500px; /* Set to your desired expanded height */
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid;
  transform: translate(-75%, -15%);
  z-index: 0;
  transition: width 0.5s, height 0.5s, border-radius 0.5s, background-color 0.5s, font-size 0.5s, padding 0.5s, border-color 0.5s;
}

.expand {
  position: fixed;
  width: 500px; /* Set to your desired expanded width */
  height: 500px; /* Set to your desired expanded height */
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid;
  transform: translate(-25%, -15%);
  z-index: 0;
  transition: width 0.5s, height 0.5s, border-radius 0.5s, background-color 0.5s, font-size 0.5s, padding 0.5s, border-color 0.5s;
}

.remote-button {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.564);
}

.channels-button  {
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.564);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
